#mainbody{
	width: 800px;
	background: #eee;
	margin-top: 10%;
	margin-left: 20%;
	margin-bottom: 150px;
}

aside a{
	text-decoration: none;
}
.title{
	font-size: 24px;
	color:black;
	margin:0px auto;
	width:800px;
	margin-left: 35%;
}
.author{
	font-size: 14px;
	color: #aaa;
	font-weight: normal;
}
aside p{
	font-size: 14px;
	margin-left: 10%;
}
#wrap{
	position: absolute;
	top: 0px;
}
.page{
	margin-left: 20%;
}